.Parent{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
*{
  margin: 0;
  padding: 0;
}
.Card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.Card h1{
  font-size: 18px;
  color: white;
}
.Card p{
  font-size: 14px;
  color: white;
}
.Card{
  color: red;
  width: 300px;
  height: 200px;
  background-color: rgb(223, 202, 15);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 5px;
}