*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.D{
  width: 100px;
  height: 50px;
  margin: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 0.3s ease;
}
.D:hover{
  background-color: darkred;
  font-weight: bolder;
} 
.I{
    width: 100px;
  height: 50px;
  margin-left: 130px;
  border-radius: 50px;
  background-color:green;
}

.I:hover{
  background-color: lightgreen;
  font-weight: bolder;
} 
h1{
  margin: 50px;
  padding:50px;
  width: 400px;
  height: 100px;
  background-color: rgb(156, 91, 91);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.J{
  width: 150px;
  height: 50px;
  margin-left: 30px;
  border-radius: 50px;
  background-color: blue;
}

.R{
   width: 150px;
  height: 50px;
  margin-left: 30px;
  border-radius: 50px;
  background-color: rgb(255, 0, 144); 
}